<div class="container-fluid">
    <div class="row" *ngIf="!product; else main_content">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <ng-template #main_content>
        <div class="row">
            <div class="col-md-5">
                <div class="card border-dark">
                    <img [src]=" product.imageUrl" class="img img-thumbnail border-dark">
                </div>
            </div>

            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text">{{product.nombre}}</h2>
                        <h4 class="text-decoration-underline">{{product.tienda}}</h4>
                        <!---------------------boton para redirigir a tienda-------------------------------->
                        <div class="row">
                            <a class="bi bi-bag-check-fill" id="link" href="/tienda-publica/{{product.tienda}}" target="_blank"> Visitanos en {{product.tienda}}</a>
                        </div>
                        <!---------------------------------------------------------------------------------->
                        <div class="row" id="like">
                            <div class="col-2 ">
                                <span class="bi bi-suit-heart-fill" [class.highlighted]="isActive" (click)="onClick()" aria-hidden="true"></span> &nbsp;
                            </div>
                            <div class="col-8 text-start">
                                <h3>{{product.likes}} Votos</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4>Descripcion</h4>
                        <p>{{product.comentario}}</p>
                        <h6>Categoria</h6>
                        <p>{{product.categoria}}</p>
                        <h3>{{product.precio | currency :"CLP"}}</h3>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>
        </div>
    </ng-template>
</div>