<div class="card h-100 border-dark mb-3">
    <h5 class="card-header text-center">{{producto.categoria}}</h5>
    <img [src]="'http://localhost:4000/' + producto.imagePath" class="card-img-top rounded-start img-thumbnail mx-auto" alt="...">
    <div class="card-body">

        <div class="row">
            <div class="col-2 ">
                <button type="button" class="btn btn-sm btn-danger">
                   <i class="bi bi-suit-heart"></i>
                </button>
            </div>
            <div class="col-8 text-start">
                <h4>{{producto.likes}} Votos</h4>
            </div>
        </div>
        <hr>
        <h3 class="card-title">{{producto.nombre}}</h3>
        <h5 class="card-subtitle">{{producto.tienda}}</h5>
        <p class="card-text">{{producto.comentario}}</p>
        <h5>{{ producto.precio | currency:'CLP' }}</h5>
    </div>
    <div class="card-footer">
        <div class="d-grid gap-2">
            <a type="button" class="btn btn-danger btn-lg " [routerLink]="['/producto',producto._id]">Ver Producto</a>

        </div>
    </div>
</div>
