<div class="container-sm">
  <form class="form-floating">
    <h4>Registro Tienda</h4>
  <div class="form-floating mb-3">
    <input type="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Nombre</label>
  </div>
  <div class="form-floating mb-3">
    <input type="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Apellido</label>
  </div>
  <div class="form-floating mb-3">
    <input type="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Rut</label>
  </div>
  <div class="form-floating mb-3">
    <input type="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Razon Social</label>
  </div>

  <div class="form-floating mb-3">
    <input type="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Correo</label>
  </div>
  <div class="form-floating mb-3">
    <input type="nombre" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Confirmar Correo</label>
  </div>
  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Contraseña</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Confirmar Contraseña</label>
  </div>

  <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>
