<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <h4>Registro Tienda</h4>
          <hr>
          <form >
            <form class="form-floating mt-3"(submit)="registrarse()">
              <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="user.nombre" name="nombre" class="form-control" placeholder="Nombre" required autofocus>
              </div>
              <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="user.apellido" name="apellido" class="form-control" placeholder="Apellido" required autofocus>
              </div>
              <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="user.rut" name="rut" class="form-control" placeholder="Rut" required autofocus>
              </div>
              <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="user.razon_social" name="razon_social" class="form-control" placeholder="Razon_social" required autofocus>
              </div>

              <div class="form-floating mb-3">
                <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
              </div>

              <div class="form-floating mb-3">
                <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
              </div>

              <button class="btn btn-primary btn-block">
                registrarse
            </button>
            </form>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



