
<div class="row">
  <div class="col-6">
    <h3 style="text-align: center">Nombre tienda</h3>
    <div class="row row-cols-1 row-cols-md-1 g-3">
      <div class="col">
        <div class="card bg-dark text-black">
          <img src="..\..\assets\imagenes\sitioconstruccion.jpg" class="card-img" alt="...">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button type="button" class="btn btn-danger">Warning</button>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>
      </div>

    </div>
    <!--  seccion de informacion  -->
  </div>
  <div class="col-6">

    <div class="container">
      <div class="row">
          <div class="col-md-15">
              <div class="well well-sm">
                  <form class="form-horizontal " method="post">
                      <fieldset>
                          <legend class="text-center header">Contactanos En:</legend>
                          <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="nombreE" name="nombre" type="text" placeholder="Nombre empresa" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="Icuenta" name="Instagram" type="text" placeholder="Perfil Instagram" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                          <div class="col-md-8">
                              <input id="Fcuenta" name="Facebook" type="text" placeholder="Perfil Facebook" class="form-control">
                          </div>
                      </div>

                      <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input id="Tcuenta" name="Twitter" type="text" placeholder="Perfil Twitter" class="form-control">
                        </div>
                    </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Correo electronico" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="col-md-8">
                                <input id="phone" name="phone" type="text" placeholder="Numero de Telefono celular" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Descripcion acerca de la empresa o emprendimiento" rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="Guardar" class="btn btn-primary btn-lg">Guardar</button>
                            </div>
                        </div>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>

</div>
<!--  VISTA PRODUCTOS  -->
<div class="col-9">
  <div class="card  ">
    <h1 class="text-center">Productos Disponibles </h1>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-todos" role="tabpanel"
        aria-labelledby="list-todos-list">
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

        </div>
      </div>

</div>
<!--  Banner derecha  -->





