
<div class="row">
  <div class="col-6">
    <h3 style="text-align: center">Nombre Tienda</h3>
    <div class="row row-cols-1 row-cols-md-1 g-3">

      <div class="col">
        <div class="card h-100">
          <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a short card.</p>
            <button type="button" class="btn btn-danger">Warning</button>
          </div>
        </div>
      </div>

    </div>
    <!--  seccion de informacion  -->
  </div>
    <div class="col-6">
      <div class="card  ">
        <h1 class="text-center">Informacion Tienda</h1>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="well well-sm">
                  <form class="form-horizontal" method="post">
                      <fieldset>
                          <legend class="text-center header">Contactanos En:</legend>

                          <div class="form-group">
                              <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                              <div class="col-md-8">
                                  <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                              </div>
                          </div>

                          <p class="text-monospace">This is in monospace</p>



                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>

</div>
<!--  VISTA PRODUCTOS  -->
<div class="col-9">
  <div class="card  ">
    <h1 class="text-center">Productos Disponibles </h1>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-todos" role="tabpanel"
        aria-labelledby="list-todos-list">
        <div class="row row-cols-1 row-cols-md-4">
          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="..\..\assets\imagenes\descarga.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a short card.</p>
                <button type="button" class="btn btn-danger">Warning</button>
              </div>
            </div>
          </div>

        </div>
      </div>

</div>






