.fab {
    font-size: 2em;
    margin-top: 5px;
    margin-left: 3px;
    margin-right: 3px;
    color: rgb(0, 0, 0);
}

.card-product {
    cursor: pointer;
}

.card-product:hover {
    border: 1px solid #333;
}

.card-header {
    text-decoration: underline;
    text-decoration-color: #ed274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#imgTienda {
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-right: 4px;
    width: 600px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card-p {
    margin: auto;
}

.btn {
    font-size: 14px;
    margin-top: 10px;
    border-radius: 15px;
    background: #ed274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #f0e4e4;
    margin-bottom: 5px;
    margin: auto;
}

p,
h3 {
    text-transform: capitalize;
}

#card-datos {
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}