<div class="container-fluid">
    <div class="row" *ngIf="!store; else main_content">

        <div class="container mt-5">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow " style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>


        <h3 class="text text-center">Ops aun no cuentas con una tienda disponible o a ocurrido un error</h3>
        <h3 class="text text-center"> intenta recargar la pagina</h3>
    </div>
    <ng-template #main_content>
        <div class="row">
            <div class="col-6 mt-3">
                <div class="container">
                    <img [src]="store.imageUrl" class="img-fluid img-thumbnail border-dark mx-auto d-block rounded" id="imgTienda">
                </div>
            </div>

            <div class="col-5 mb-3">
                <div class="container mt-4">
                    <div class="card" id="card-datos">
                        <div class="card-header">
                            <h2 class="text text-center fw-bolder">{{store.nombre_tienda}}</h2>
                        </div>
                        <div class="card-body">
                            <p class="text text-center">{{store.descripcion}}</p>

                            <div class="row">

                                <hr>
                                <h4 class="text text-center">Visitanos en nuestras redes sociales </h4>
                                <div class="d-grid gap-2 d-md-flex  justify-content-center">
                                    <div *ngIf="store.instagram">
                                        <a class="fab fa-instagram" href="{{store.instagram}}" target="_blank"> </a>
                                    </div>
                                    <div *ngIf="store.facebook">
                                        <a class="fab fa-facebook" href="{{store.facebook}}" target="_blank"> </a>
                                    </div>
                                    <div *ngIf="store.twitter">
                                        <a class="fab fa-twitter-square" href="{{store.twitter}}" target="_blank"> </a>
                                    </div>
                                </div>

                                <hr>
                            </div>

                            <div class="row ">

                                <h4 class="fab fa-whatsapp text-center" id="wasa"> {{store.numero_telefono}}</h4>
                            </div>


                        </div>


                        <div class="row">
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4" id="log">
                                <!--  boton para agregar productos  -->
                                <a href="newpr" [routerLink]="['/newpr',store.nombre_tienda]" class="btn fw-bolder btn-lg " role="button" aria-pressed="true">Agregar producto</a>

                                <!-- Button trigger modal -->
                                <button type="button" class="btn fw-bolder btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Editar tienda</button>


                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="offcanvas-body">
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text"> Nombre tienda</span>
                                                    <input type="text" class="form-control" id="floatingInput" placeholder="nombre tienda" [value]="store.nombre_tienda" #nombre_tienda required>
                                                </div>
                                                <hr>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text"> instagram</span>
                                                    <input type="text" class="form-control" id="floatingInput" placeholder="instagram" [value]="store.instagram " #instagram required>
                                                </div>
                                                <hr>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text">twitter</span>
                                                    <input type="text" class="form-control" id="floatingInput" placeholder="twitter" [value]="store.twitter " #twitter required>
                                                </div>
                                                <hr>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text"> facebook</span>
                                                    <input type="text" class="form-control" id="floatingInput" placeholder="facebook" [value]="store.facebook " #facebook required>
                                                </div>
                                                <hr>
                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text"> telefono</span>
                                                    <input type="text" class="form-control" id="floatingInput" placeholder="telefono" [value]="store.numero_telefono " #numero_telefono required>
                                                </div>

                                                <div class="input-group input-group-sm">
                                                    <span class="input-group-text"> descripcion</span>
                                                    <input type="text" class="form-control" id="floatingInput" placeholder="descripcion" [value]="store.descripcion " #descripcion required>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">cerrar</button>
                                                <button type="button" class="btn btn-primary"(submit)="updateTienda(nombre_tienda,instagram,twitter,facebook,numero_telefono,descripcion)">guardar cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="row mt-4">
                <!--  VISTA PRODUCTOS  -->
                <div class="container" id="card-P">
                    <div class="col-12">
                        <div class="card" id="produ">
                            <h1 class="text-center">Productos Disponibles </h1>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="list-todos" role="tabpanel" aria-labelledby="list-todos-list">
                                <div class="row row-cols-1 row-cols-md-4">
                                </div>
                            </div>
                            <!--  para mostrar productos -->
                            <div class="row">
                                <ng-container *ngFor="let product of products">
                                    <div class="col-md-4 p-4" *ngIf="product.tienda === store.nombre_tienda" id="card-p">
                                        <app-tienda-card [producto]='product'></app-tienda-card>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <!--  Banner derecha  -->
                </div>
            </div>
        </div>
    </ng-template>
</div>