p {
    color: #ed274e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
}

.ng-invalid:not(form) {
    border: none;
    border-bottom: 2px solid #ed274e;
    /* red */
}

.ng-valid:not(form),
.ng-valid.required:not(form) {
    border: none;
    border-bottom: 2px solid #42A948;
    /* green */
}

.btn {
    font-size: 14px;
    margin-top: 10px;
    border-radius: 15px;
    background: #ed274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h6 {
    color: #f0e4e4;
}

img {
    width: auto;
    height: 60%;
}

.container {
    height: 500px;
}