<div class="global-container " id="login">
    <div class="card login-form ">
        <div class="card-body">
            <h1 class="card-title text-center fw-bolder">Log in</h1>
            <div class="card-text">
                <form (submit)="logIn()">
                    <div class="form-group">
                        <h4 class="fw-bolder">Correo</h4>
                        <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Correo" required autofocus>
                    </div>
                    <div class="form-group mt-3">
                        <h4 class="fw-bolder">Contraseña</h4>
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-block">
                          <h6 class="text-center fw-bolder mt-1" id="log">Iniciar Sesión</h6>
                    </button>
                    </div>

                    <div class="sign-up">
                        <div class="text-center">
                            No tienes tu cuenta aun?
                        </div>
                        <a href="registro">Crear cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
