<div class="global-container ">
  <div class="card login-form border-dark">
    <div class="card-header">
      <h3 class="card-title text-center">Log in</h3>
    </div>
    <div class="card-body">
      <div class="card-text">
        <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
        <form action="" method="POST">
          <!-- to error: add class "has-danger" -->
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electronico</label>
            <input type="email" class="form-control form-control-sm" id="lp" />
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputPassword1">Contraseña</label>
            <a href="#" style="float: right; font-size: 12px">Olvido su Contraseña?</a>
            <input type="password" class="form-control form-control-sm" id="password" />
          </div>
          <button type="submit" class="btn btn-primary btn-block" 
         >
            Iniciar Sesion
          </button>

          <div class="sign-up">
            No tienes tu cuenta aun? <a href="registro">Crear cuenta</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
