.navbar {
    background: #ed274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
    color: #f0e4e4;
    text-decoration: underline;
    text-decoration-color: #f0e4e4;
}