<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="..\..\assets\imagenes\logo\logo-marioblanco-02.png" alt="" width="190" height="90" />
        </a>

        <ul class="nav justify-content-end">

            <!--se revisara si estoy logeado y si no mostrara esto en el nav-bar -->
            <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
                <div class="navbar-nav">
                    <a class="nav-link  fw-bolder" href="#">Home</a>
                    <a class="nav-link  fw-bolder" href="categorias">Categorias</a>

                </div>
                <li class="nav-bt-log">
                    <a class="nav-link  fw-bolder" id="btNavbar" href="login">Iniciar sesion</a>
                </li>
                <li class="nav-bt-log ">
                    <a class="nav-link  fw-bolder" id="btNavbar" href="registro">Registrarse</a>
                </li>
            </ng-container>
            <!--se revisara si estoy logeado y si lo estoy mostrara esto en el nav-bar -->
            <ng-template #loggedIn>
                <div class="navbar-nav">
                    <a class="nav-link  fw-bolder" href="#">Home</a>
                    <a class="nav-link  fw-bolder" href="categorias">Categorias</a>
                    <a class="nav-link  fw-bolder" [routerLink]="['/tienda',aux2]">Tienda</a>
                    <a class="nav-link  fw-bolder" [routerLink]="['/private',aux2]">Perfil</a>
                </div>

                <li class="nav-item">
                    <a class="nav-link  fw-bolder" style="cursor: pointer;" (click)="authService.logout();clear()">Cerrar sesion</a>
                </li>
            </ng-template>
        </ul>
    </div>
</nav>