<div class="container-fluid mt-5">
    <div class="col-lg-4 offset-4">
        <form (submit)="sendMail(email)">
            <div class="mb-3">
                <h4 for="exampleInputEmail1" class="form-label fw-bolder">Correo electronico</h4>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" #email>
                <div id="emailHelp" class="form-text">Se enviara un correo de recuperacion a la cuenta registrada</div>
            </div>

            <button type="submit" class="btn fw-bolder">Enviar </button>
        </form>
    </div>

</div>