img {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 450px;
    height: 400px;
}

.container-fluid {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    font-size: 14px;
    margin-top: 10px;
    border-radius: 15px;
    background: #ed274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #f0e4e4;
    margin-left: auto;
    margin-right: auto;
}

i {
    font-size: 55px;
    margin-left: 200px;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}