<div class="container-fluid">
    <div class="row" *ngIf="!product; else main_content">
        <h1>Loading...</h1>
    </div>
    <ng-template #main_content>
        <div class="row">
            <div class="col-md-5">
                <div class="card border-dark">
                    <img [src]="product.imageUrl" class="img-fluid">
                </div>
            </div>
            <div class="col-md-7">
                <div class="card border-dark">
                    <form class="card-body" (submit)="updateProduct(nombre,tienda,categoria,comentario,precio)">
                        <div class="form-group">
                            <h6 class="text">Nombre </h6>
                            <input type="text" class="form-control" placeholder="Nombre producto" [value]="product.nombre" #nombre>
                        </div>
                        <div class="form-group">
                            <h6 class="text mt-2">Tienda </h6>
                            <input rows="2" class="form-control" placeholder="nombre tienda" [value]="product.tienda" #tienda disabled>
                        </div>

                        <div class="form-group">
                            <h6 class="text mt-2">Categoria </h6>
                            <select class="form-select" id="inputSelect" [value]="product.categoria" required #categoria>
                <option value="Bebe">Bebe</option>
                <option value="Perfumes y Cosmeticos">Perfumes y Cosmeticos</option>
                <option value="Mascotas">Mascotas</option>
                <option value="Vestuario">Vestuario</option>
                <option value="Hogar y decoracion">Hogar y decoracion</option>
                <option value="Alimentos">Alimentos</option>
              </select>
                        </div>
                        <div class="form-group">
                            <h6 class="text mt-2">Comentario </h6>
                            <input rows="2" class="form-control" placeholder="comentario del producto" [value]="product.comentario" #comentario>
                        </div>
                        <div class="form-group">
                            <h6 class="text mt-2">Precio </h6>
                            <input rows="2" class="form-control" placeholder="precio del producto" [value]="product.precio" #precio>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                            <button class="btn btn-primary btn-block "  >Editar</button>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-dismiss="modal">Eliminar producto</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Advertencia</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h3> Esta seguro de eliminar este producto?</h3>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">volver</button>

                                            <button class="btn btn-danger" (click)="deleteProduct(product._id)" data-backdrop="false" data-bs-dismiss="modal">Eliminar producto</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
</div>
