<hr />
<div class="container-fluid" id="body">
    <div class="col">
        <h1 class="text text-center fw-bolder">Tu voto, Tu emprendimiento</h1>
    </div>
    <hr />
    <div class="row">
        <div class="container mt-5" id="cat">
            <h3 class="text text-center fw-bolder">Vota por tus productos Favoritos</h3>
            <div class="d-grid gap-2">
                <button type="button " id="but" class="btn btn-danger btn-lg m-lg-2 fw-bolder" [routerLink]="['/categorias']">Búscalo Aquí</button>
            </div><img src="https://res.cloudinary.com/mepifotos/image/upload/v1637308534/respaldo/44100_lwiwry.jpg" class="img-fluid" alt="...">

        </div>
    </div>
</div>
<hr>
<h3 class="text-center">Otros productos</h3>
<hr>
<div class="container-fluid border-dark" id="cont-product">
    <div class="col" id="cont-product-vertical">
        <div class="col-4" *ngFor='let product of products' id="card-p">
            <app-producto-tarjeta [producto]='product'></app-producto-tarjeta>
        </div>
    </div>
</div>