#cont-product{
  margin-top: 20px;
  border: 1px solid;
  width: 1300px;

  background-color: rgb(206, 63, 63);
}

#card-p{
  margin-right: 10px;
}

#cont-product-vertical{
  display: flex;
  align-items: stretch;
  width: 1100px;
  margin-top: 20px
}
