#cont-product {
    margin-top: 20px;
    border: 2px solid;
    width: auto;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(206, 63, 63);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#card-p {
    margin-right: 8px;
    margin-left: 8px;
}

#cat {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.d-grid {
    margin-bottom: 50px;
}

img {
    width: auto;
    height: 80%;
}

#cont-product-vertical {
    display: flex;
    align-items: stretch;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: scroll;
}

.container-fluid::-webkit-scrollbar-thumb {
    background: black;
}

#carouselExampleControls.img {
    width: 600px;
    height: 1200px;
}

.fas {
    font-size: 6em;
    margin: auto;
    color: rgb(0, 0, 0);
}

#cat {
    margin: auto;
}

#car-cat {
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn {
    font-size: 14px;
    margin-top: 10px;
    border-radius: 15px;
    background: #ed274e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}