<div class="container-fluid">
  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="registro-usuario" data-toggle="list" href="#usuario"
        role="tab" aria-controls="todos">Registro Usuario</a>
      <a class="list-group-item list-group-item-action" id="registro-tienda" data-toggle="list" href="#tienda"
        role="tab" aria-controls="todos">Registro Tienda</a>
    </div>

  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="usuario" role="tabpanel" aria-labelledby="registro-user">
        <div class="row">

        </div>
      </div>
      <div class="tab-pane fade show active" id="tienda" role="tabpanel" aria-labelledby="registro-t">
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>
