<div class="container-fluid">
    <div class="row" *ngIf="!user; else main_content">
        <h1>Loading...</h1>
    </div>
    <ng-template #main_content>
        <div class="container-fluid">
            <div class="row">
                <!--perfil de usuario -->
                <h3 class="text mt-3">Perfil de usuario</h3>
                <h3 class="text mt-3">Bienvenido {{ user.nombre }} {{ user.apellido}} </h3>
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card border-dark mt-2 mb-3 m-lg-5">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-10">
                                            <h5>nombre</h5>
                                            <label>{{ user.nombre }}</label>
                                        </div>

                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10">
                                            <h5>apellido</h5>
                                            <label>{{ user.apellido }}</label>
                                        </div>

                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10">
                                            <h5>rut</h5>
                                            <label>{{ user.rut }}</label>
                                        </div>

                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-10">
                                            <h5>correo</h5>
                                            <label>{{ user.email }}</label>
                                        </div>

                                        <hr />
                                    </div>
                                    <div class="row">
                                        <div class="col-10">
                                            <h5>contraseña</h5>

                                            <p class="text" type="password">***************</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        editar Perfil
                                      </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal  fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card border-dark">
                                                    <form class="card-body" (submit)="
                                          updateUser(
                                            nombre,
                                            apellido,
                                            rut,
                                            razon_social,
                                            email,
                                            password
                                          )
                                        ">
                                                        <div class="form-group">
                                                            <h6 class="text">Nombre</h6>
                                                            <input type="text" class="form-control" placeholder="Nombre producto" [value]="user.nombre" #nombre />
                                                        </div>
                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Apellido</h6>
                                                            <input rows="2" class="form-control" placeholder="nombre tienda" [value]="user.apellido" #apellido />
                                                        </div>

                                                        <div class="form-group">
                                                            <h6 class="text mt-2">rut (hayq ue hacer un validador de rut)</h6>
                                                            <input rows="2" class="form-control" placeholder="nombre tienda" [value]="user.rut" #rut />
                                                        </div>

                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Razon social (eliminar)</h6>
                                                            <input rows="2" class="form-control" placeholder="nombre tienda" [value]="user.razon_social" #razon_social />
                                                        </div>

                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Correo</h6>
                                                            <input rows="2" class="form-control" placeholder="nombre tienda" [value]="user.email" #email />
                                                        </div>

                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Contraseña</h6>
                                                            <input rows="2" type="password" class="form-control" placeholder="nombre tienda" [value]="user.password" #password />
                                                        </div>

                                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                                                            <button class="btn btn-primary btn-block" (click)="reloadCurrentPage()">Editar</button>
                                                            <button class="btn btn-danger" (click)="deleteUser(user._id)">
                                            Eliminar usuario
                                          </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--agregar productos-->
                        <div class="col-sm-3">

                            <form (submit)="uploadStore(nombre_tienda, instagram, twitter, facebook, numero_telefono, descripcion)">
                                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Crea tu tienda de private</button>

                                <div class="offcanvas offcanvas-end" tabindex="-2" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header mt-4">
                                        <h4 id="offcanvasRightLabel">Datos tienda</h4>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>
                                    <hr>
                                    <div class="offcanvas-body">
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"> Nombre tienda</span>
                                            <input type="text" class="form-control" id="nombre_tienda" placeholder="nombre tienda" #nombre_tienda required>
                                        </div>
                                        <hr>
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"> instagram</span>
                                            <input type="text" class="form-control" id="instagram" placeholder="instagram" #instagram required>
                                        </div>
                                        <hr>
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text">twitter</span>
                                            <input type="text" class="form-control" id="twitter" placeholder="twitter" #twitter required>
                                        </div>
                                        <hr>
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"> facebook</span>
                                            <input type="text" class="form-control" id="facebookt" placeholder="facebook" #facebook required>
                                        </div>
                                        <hr>
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"> telefono</span>
                                            <input type="text" class="form-control" id="telefono" placeholder="telefono" #numero_telefono required>
                                        </div>

                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"> descripcion</span>
                                            <input type="text" class="form-control" id="descripcion" placeholder="descripcion" #descripcion required>
                                        </div>

                                        <hr>
                                        <h4>Subir imagen</h4>
                                        <input class="input-file" (change)="capturarFile($event)" type="file">
                                        <div class="preview-img" *ngIf="previsualizacion">
                                            <button class="clear-image" type="button" (click)="clearImage()">Clear</button>
                                            <img [src]="previsualizacion" alt="">
                                        </div>

                                        <div class="p-1">
                                            <small>Se aceptan archivos imágenes de tipo .png</small>
                                        </div>
                                        <div class="wrapper-button" *ngIf="previsualizacion">
                                            <button type="button" class="button" [disabled]="loading" (click)="uploadStore(nombre_tienda, instagram, twitter, facebook, numero_telefono, descripcion)">
                                         {{(loading) ? 'Cargando.....' : 'uploadStore'}}
                                        </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">

            </div>

        </div>


    </ng-template>
</div>
