<div class="container-fluid">
    <div class="row" *ngIf="!user; else main_content">
        <div class="container mt-5">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="spinner-grow " style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <h3 class="text text-center">Ops a ocurrido un error</h3>
        <h3 class="text text-center"> intenta recargar la pagina</h3>

    </div>
    <ng-template #main_content>
        <div class="container-fluid">
            <div class="row m-lg-4">
                <!--perfil de usuario!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
                <div class="col-lg-2 offset-1">
                    <div class="container " id="cont-circle">
                        <div class="circle">
                            <p class="text fw-bolder" id="iniciales">{{a}}{{b}}</p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-8" id="ini">
                    <div class="row">
                        <h3 class="text mt-3 fw-bolder">Bienvenido </h3>
                    </div>
                    <div class="row">
                        <h3 class="text mt-3 fw-bolder">{{ user.nombre }} {{ user.apellido}} </h3>
                    </div>
                </div>
                <div class="container" id="user">

                    <div class="row">

                        <div class="col">
                            <div class="card m-lg-5" id="card-datos">
                                <h3 class="text fw-bolder">Datos personales</h3>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-6">
                                            <p>Nombre</p>
                                            <h3 class="text" id="datos">{{ user.nombre }}</h3>
                                        </div>
                                        <div class="col-6">
                                            <p>Apellido</p>
                                            <h3 id="datos">{{ user.apellido }}</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p>Correo</p>
                                            <h3 id="dato">{{ user.email }}</h3>
                                        </div>
                                        <div class="col-6">
                                            <p>Contraseña</p>
                                            <h3 id="datos">********</h3>
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <div class="d-grid gap-2 d-md-flex mx-auto">
                                            <div class="col-3">
                                                <button type="button" class="btn  fw-bolder btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Editar Perfil</button>
                                            </div>
                                            <div class="col-3">
                                                <div *ngIf="tienda; else elseBlock"><button class="btn  fw-bolder btn-lg" type="button" [routerLink]="['/tienda',aux2]">
                                               Ver tienda
                                              </button>
                                                </div>
                                                <ng-template #elseBlock>
                                                    <button class="btn  fw-bolder btn-lg" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Crea tu tienda</button>
                                                </ng-template>

                                            </div>
                                            <div class="col-3">
                                                <button class="btn   fw-bolder btn-lg" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Eliminar usuario</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- editar perfil!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                        <!-- Modal -->

                        <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <!--modal 1-->
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content ">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalToggleLabel">Editar Perfil</h5>

                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card border-dark">
                                                    <form class="card-body" (submit)="updateUser(nombre,apellido,email,password)">
                                                        <div class="form-group">
                                                            <h6 class="text">Nombre</h6>
                                                            <input type="text" class="form-control" placeholder="Nombre usuario" [value]="user.nombre" #nombre />
                                                        </div>
                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Apellido</h6>
                                                            <input rows="2" class="form-control" placeholder="Apellido usuario" [value]="user.apellido" #apellido />
                                                        </div>


                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Correo</h6>
                                                            <input rows="2" class="form-control" placeholder="Email usuario" [value]="user.email" #email />
                                                        </div>

                                                        <div class="form-group">
                                                            <h6 class="text mt-2">Contraseña</h6>
                                                            <input rows="2" type="password" class="form-control" placeholder="Contraseña" required #password />
                                                        </div>

                                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-5">
                                                            <button class="btn  fw-bolder  btn-lg" (click)="reloadCurrentPage()">Guardar Datos</button>
                                                            <button type="button" class="btn fw-bolder  btn-lg" data-bs-dismiss="modal">Cancelar</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--eliminar usuario!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                            <!--modal 2-->
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header bg-danger ">
                                        <i class="bi bi-exclamation-triangle-fill"></i>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3 class="text  text-center fw-bolder" id="exampleModalToggleLabel2">¡Advertencia!</h3>
                                        <h5 class="text  text-center">¿Esta seguro de eliminar el usuario?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn fw-bolder  btn-lg" (click)="eliminarUser(user._id)">Confirmar</button>
                                        <button type="button" class="btn fw-bolder  btn-lg" data-bs-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--agregar tienda!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
                        <div class="container">
                            <form [formGroup]="form" (ngSubmit)="save($event)">

                                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                    <div class="offcanvas-header mt-4">
                                        <h4 id="offcanvasRightLabel">Datos tienda</h4>
                                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                    </div>

                                    <div class="offcanvas-body">
                                        <!--nombre tienda-->
                                        <div class="input-group input-group-sm">
                                            <span class="input-group-text"> Nombre tienda</span>
                                            <input type="text" class="form-control" formControlName="nombre_tienda" id="nombre_tienda" placeholder="nombre tienda">
                                        </div>
                                        <!--validadores-->
                                        <div *ngIf="nombre_tiendaField.errors && nombre_tiendaField.touched">
                                            <p id="vali1" *ngIf="nombre_tiendaField.hasError('required')">
                                                * Es un campo requerido *
                                            </p>
                                            <p id="vali" *ngIf="nombre_tiendaField.hasError('pattern')">
                                                * Caracter invalido *
                                            </p>
                                        </div>

                                        <!--instagram-->
                                        <div class="input-group input-group-sm mt-3">
                                            <span class="input-group-text"> instagram</span>
                                            <input type="text" class="form-control" formControlName="instagram" id="instagram" placeholder="instagram">
                                        </div>


                                        <!--twitter-->
                                        <div class="input-group input-group-sm mt-3">
                                            <span class="input-group-text">twitter</span>
                                            <input type="text" class="form-control" formControlName="twitter" id="twitter" placeholder="twitter">
                                        </div>


                                        <!--facebook-->
                                        <div class="input-group input-group-sm mt-3">
                                            <span class="input-group-text"> facebook</span>
                                            <input type="text" class="form-control" formControlName="facebook" id="facebook" placeholder="facebook">
                                        </div>


                                        <!--telefono-->
                                        <div class="input-group input-group-sm mt-3">
                                            <span class="input-group-text"> telefono</span>
                                            <input type="text" class="form-control" formControlName="numero_telefono" id="numero_telefono" placeholder="telefono">
                                        </div>
                                        <!--validadores-->
                                        <div *ngIf="numero_telefonoField.errors && numero_telefonoField.touched">
                                            <p id="vali" *ngIf="numero_telefonoField.hasError('required')">
                                                * Es un campo requerido *
                                            </p>
                                            <p id="vali" *ngIf="numero_telefonoField.hasError('pattern')">
                                                * El formato es 987654321 *
                                            </p>
                                            <p id="vali" *ngIf="numero_telefonoField.hasError('minLength')">
                                                * El minimo es de 8 caracteres *
                                            </p>
                                            <p id="vali" *ngIf="numero_telefonoField.hasError('maxLength')">
                                                * El maximo es de 9 caracteres*
                                            </p>

                                        </div>

                                        <!--descripcion-->
                                        <div class="input-group input-group-sm mt-3">
                                            <span class="input-group-text"> descripcion</span>
                                            <input type="text" class="form-control" formControlName="descripcion" id="descripcion" placeholder="descripcion">
                                        </div>
                                        <!--validadores-->
                                        <div *ngIf="descripcionField.errors && descripcionField.touched">
                                            <p id="vali" *ngIf="nombre_tiendaField.hasError('required')">
                                                * Es un campo requerido *
                                            </p>

                                            <p id="vali" *ngIf="descripcionField.hasError('maxLength')">
                                                * Tiene un maximo de 200 caracteres *
                                            </p>
                                        </div>

                                        <h4 class="text fw-bolder">Subir imagen</h4>
                                        <input class="input-file" (change)="capturarFile($event)" type="file">
                                        <div class="preview-img" *ngIf="previsualizacion">
                                            <button class="btn clear-image  fw-bolder" type="button" (click)="clearImage()">Clear</button>
                                            <img [src]="previsualizacion" alt="">
                                        </div>
                                        <div class="p-1">
                                            <small>Se aceptan archivos e imágenes formato jpg y .png</small>
                                        </div>
                                        <div class="wrapper-button" *ngIf="previsualizacion">
                                            <button type="submit" class="btn  fw-bolder" [disabled]="loading" (ngSubmit)="save($event)">
                                         {{(loading) ? 'Cargando.....' : 'Crear tienda'}}
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>